# Create a dataframe using dictionary
### Step 1 :- Create list
### Step 2 :- Convert that list series
### Step 3 :- Convert those series in dataframe using pandas
# Conditions :-
### Dataframe must contain 100 rows & 5 columns
### Column name should be :- S_Col_1, S_Column_2, S_Col_3, Sample_Col_4, Sample_Column_5

In [1]:
import numpy as np
import pandas as pd

# Import necessary libraries

# Create a numpy array with values from 0 to 99
List1 = np.arange(100)

# Create a numpy array with 100 random values from a standard normal distribution
List2 = np.random.randn(100)

# Create a numpy array with 100 random values from a standard normal distribution
List3 = np.random.randn(100)

# Create a numpy array with 100 random values from a standard normal distribution
List4 = np.random.randn(100)

# Create a numpy array with 100 random values from a standard normal distribution
List5 = np.random.randn(100)

# Create pandas Series from numpy arrays
Series1 = pd.Series(List1)
Series2 = pd.Series(List2)
Series3 = pd.Series(List3)
Series4 = pd.Series(List4)
Series5 = pd.Series(List5)

# Create a pandas DataFrame from the series
Dataframe1 = pd.DataFrame({
    "S_Col_1": Series1,
    "S_Column_2": Series2,
    "S_Col_3": Series3,
    "Sample_Col_4": Series4,
    "Sample_Column_5": Series5
})

# Display the DataFrame
Dataframe1

    S_Col_1  S_Column_2   S_Col_3  Sample_Col_4  Sample_Column_5
0         0   -0.283014 -0.407349     -1.058528         0.374660
1         1    0.614181 -0.145442     -0.484172         0.711454
2         2   -0.777368 -0.776191     -0.786925        -0.003133
3         3   -0.409552  0.109508     -1.235856        -2.236407
4         4    0.326943  0.755342     -0.900470         1.192400
..      ...         ...       ...           ...              ...
95       95    0.037985 -1.567689     -0.347502        -0.903003
96       96   -0.639423  0.586944      1.468039         0.396014
97       97   -1.209205 -0.062839     -0.884202         0.747203
98       98   -1.424225  0.019440     -0.394593        -2.294549
99       99    0.349346 -0.054217      1.133231         1.245904

[100 rows x 5 columns]