# Create a dataframe using dictionary
### Step 1 :- Create list
### Step 2 :- Convert that list series
### Step 3 :- Convert those series in dataframe using pandas
# Conditions :-
### Dataframe must contain 100 rows & 5 columns
### Column name should be :- S_Col_1, S_Column_2, S_Col_3, Sample_Col_4, Sample_Column_5

In [12]:
# Import the packages

import numpy as np
import pandas as pd

In [20]:
# Create the list with 100 Numbers

# List 1 for column 1
List1 = np.arange(100)

# List 2 for column 2
List2 = np.random.randn(100)

# List 3 for column 3
List3 = np.random.randn(100)

# List 4 for column 4
List4 = np.random.randn(100)

# List 5 for column 5
List5 = np.random.randn(100)

# Convert all the list into series
Series1 = pd.Series(List1)
Series2 = pd.Series(List2)
Series3 = pd.Series(List3)
Series4 = pd.Series(List4)
Series5 = pd.Series(List5)

# Create the dataframe
Dataframe1 = pd.DataFrame({
    "S_Col_1":Series1,
    "S_Column_2":Series2,
    "S_Col_3":Series3,
    "Sample_Col_4":Series4,
    "Sample_Column_5":Series5
})

Dataframe1

    S_Col_1  S_Column_2   S_Col_3  Sample_Col_4  Sample_Column_5
0         0   -1.049378  0.277129     -0.130728        -0.206636
1         1   -0.827614  0.116688     -1.559138         0.844663
2         2   -0.445966  1.923948      0.043749         0.131842
3         3    0.039207 -0.977581     -1.390028         0.022958
4         4    0.625707  0.740306     -0.486701         0.460119
..      ...         ...       ...           ...              ...
95       95   -1.333676 -0.740902     -1.569784        -0.672592
96       96    0.234630  1.002156     -1.083552        -1.006949
97       97   -0.666849 -0.388184     -0.986550        -0.158920
98       98    0.020192 -0.535401      0.832488         0.231146
99       99   -1.058256  0.001928      0.981665        -1.894368

[100 rows x 5 columns]