# House Price Analysis

About Dataset
This data set was very useful when I worked on a project .As a Kaggle contributer I am uploading for others to gain knowledge by implementing algorithms.
Attributes:
1.Id(int)
2.Date(int)
3.number of bedrooms(int)
4.number of bathrooms(float)-convert it into 'int' ,just to give you some practice!
5.living area(int)
6.lot area(int)
7.water front present(float)-convert it into 'int'
8.number of views(int)
and so onâ€¦.

In [1]:
# Import the packages
import numpy as np
import pandas as pd

In [2]:
# load the dataset
House_Price_Dataset = pd.read_csv("House Price India.csv")

In [3]:
# Task 1: Show the first 10 Records
House_Price_Dataset.head(10)

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000
5,6762813105,42491,3,2.50,2600,4750,1.0,0,0,4,...,1951,0,122007,52.9133,-114.590,2380,4750,1,67,790000
6,6762813157,42491,5,3.25,3660,11995,2.0,0,2,3,...,2006,0,122008,52.7637,-114.050,3320,11241,3,72,785000
7,6762813599,42491,3,1.75,2240,10578,2.0,0,0,5,...,1923,0,122006,52.9254,-114.482,1570,10578,3,71,750000
8,6762813600,42491,3,2.50,2390,6550,1.0,0,2,4,...,1955,0,122009,52.8014,-114.598,2010,6550,1,73,750000
9,6762814461,42491,4,2.25,2200,11250,1.5,0,0,5,...,1920,0,122010,52.9145,-114.391,2320,10814,2,53,698000

In [4]:
# Task 2: Show the last 10 Records
House_Price_Dataset.tail(10)

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
14610,6762828349,42734,4,2.75,1810,7350,1.0,0,0,4,...,1980,0,122065,52.6003,-114.361,1750,7350,1,73,272000
14611,6762828783,42734,3,1.75,1350,7686,1.0,0,0,3,...,1987,0,122024,52.5917,-114.242,1370,7686,2,70,261000
14612,6762828856,42734,3,1.00,1180,5350,1.5,0,0,4,...,1959,0,122063,52.7350,-114.449,1490,5350,3,54,260000
14613,6762829600,42734,3,1.00,1400,10425,1.0,0,0,4,...,1968,0,122040,52.5038,-114.491,1440,10425,2,59,241500
14614,6762829669,42734,3,1.75,1590,7931,1.0,0,0,3,...,1979,0,122024,52.5928,-114.240,1680,7931,1,80,240000
14615,6762830250,42734,2,1.50,1556,20000,1.0,0,0,4,...,1957,0,122066,52.6191,-114.472,2250,17286,3,76,221700
14616,6762830339,42734,3,2.00,1680,7000,1.5,0,0,4,...,1968,0,122072,52.5075,-114.393,1540,7480,3,59,219200
14617,6762830618,42734,2,1.00,1070,6120,1.0,0,0,3,...,1962,0,122056,52.7289,-114.507,1130,6120,2,64,209000
14618,6762830709,42734,4,1.00,1030,6621,1.0,0,0,4,...,1955,0,122042,52.7157,-114.411,1420,6631,3,54,205000
14619,6762831463,42734,3,1.00,900,4770,1.0,0,0,3,...,1969,2009,122018,52.5338,-114.552,900,3480,2,55,146000

In [5]:
# Task 3: Show the size of the Data
House_Price_Dataset.shape

# We have 14620 Observations
# We have 23 attributes

(14620, 23)